<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{asset 'css/global.css'}}" />
	<link rel="stylesheet" type="text/css" href="{{asset 'css/blog.css'}}" />
	<link rel="stylesheet" type="text/css" href="{{asset 'css/prose.css'}}" />

	<title>{{meta_title}}</title>

	{{!-- Outputs important meta data and settings, should always be in <head> --}}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{> theme-icons}}
	{{> header}}
	<main class="text-primary text-center z-5 pt-12 w-full">
		{{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}
		{{{body}}}
	</main>
	{{> footer}}

{{#if pagination.next}}
<script src="{{asset 'js/infinite-loader.js'}}"></script>
{{/if}}

{{#is "post, page"}}
<script src="{{asset 'js/reframe.js'}}"></script>
<script defer>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
	var container = image.closest('.kg-gallery-image');
	var width = image.attributes.width.value;
	var height = image.attributes.height.value;
	var ratio = width / height;
	container.style.flex = ratio + ' 1 0%';
});
reframe('iframe');
</script>
{{/is}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
