{{!< default}}

{{#post}}
<article class="prose vp-prose lg:prose-lg {{post_class}}">
	<header class="gh-header gh-canvas">
		{{#if @page.show_title_and_feature_image}}
		<h1>{{title}}</h1>
		{{/if}}

		{{#if custom_excerpt}}
			<p class="gh-excerpt">{{custom_excerpt}}</p>
		{{/if}}

		{{#if @page.show_title_and_feature_image}}
			{{#if feature_image}}
				<figure class="gh-feature-image">
					<img
						srcset="{{img_url feature_image size="s"}} 320w,
										{{img_url feature_image size="m"}} 600w,
										{{img_url feature_image size="l"}} 960w,
										{{img_url feature_image size="xl"}} 1200w,
										{{img_url feature_image size="xxl"}} 2000w"
						src="{{img_url feature_image size="xl"}}"
						alt="{{title}}"
					>
				</figure>
			{{/if}}
		{{/if}}
	</header>
	<div class="main-content-area">
		{{content}}
	</div>
</article>
{{/post}}
