{{!--
Re-usable card for linking to posts
--}}
<article class="post-card w-full {{#unless feature_image}}no-image{{/unless}}{{post_class}}">
	<a href="{{url}}" class="flex flex-row items-center text-left rounded shadow w-full bg-gray-100 dark:bg-gray-900">
		{{#if feature_image}}
			<img
				class="feature-image card-not-skewed"
				srcset="{{img_url feature_image size="s"}} 400w,
						{{img_url feature_image size="m"}} 750w,
						{{img_url feature_image size="l"}} 960w,
						{{img_url feature_image size="xl"}} 1140w"
				sizes="(min-width: 576px) 160px, 90vw"
				src="{{img_url feature_image size="m"}}"
				alt="{{title}}"
				loading="lazy"
			/>
		{{/if}}
		<div class="py-3 px-6 flex flex-col gap-3 card-not-skewed">
			<h2>{{title}}</h2>
			<p>{{excerpt}}</p>
			<span class="gh-card-meta">
				<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
				<span class="bull">&bull;</span> {{reading_time}}
				{{#if primary_tag}}
				<span class="bull">&bull;</span> {{primary_tag.name}}
				{{/if}}
			</span>
		</div>
	</a>
</article>
